@font-face {
	font-family: "Satisfy";
	src: url('../fonts/Satisfy-Regular.ttf');
}

@font-face {
	font-family: "Roboto";
	src: url('../fonts/Roboto-Regular.ttf');
}

body h1{
  font-family: "Satisfy";
}

body h2{
  font-family: "Satisfy";
}

header{
  font-family: "Roboto";
  font-size: 22px;
}

body{
  font-family: "Roboto";
}

footer a{
	color: #F8F9FA;
}

#wpcf7-f17-o1 input{
	border-radius: 20px;
	font-family: "Roboto";
}

#wpcf7-f17-o1 label{
	font-family: "Roboto";
}

#wpcf7-f17-o1 select{
	border-radius: 20px;
	font-family: "Roboto";
}

#wpcf7-f17-o1 textarea{
	border-radius: 20px;
	font-family: "Roboto";
}

#wpcf7-f17-o1 .wpcf7-submit{
	border-radius: 20px;
	font-family: "Satisfy";
	font-size: 25px;
}
